section.home
  padding: 40px
  div.video-grid
    display: flex
    flex-flow: column
    justify-content: space-between
    row-gap: 1rem
    width: 400px
    height: calc(100vh - 80px - 55px - 100px)
    video
      background-color: #222
      width: 100%
      aspect-ratio: 16 / 9
      object-fit: cover
  button
    background-color: #ffffff
    border: 1px solid #121318
    box-shadow: 0
    font: inherit
    margin-top: 1rem
    padding: .5rem 1rem
